<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name ddd</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          productForm.get('name')?.invalid && productForm.get('name')?.touched
      }"
    />
    <div
      *ngIf="
        productForm.get('name')?.invalid && productForm.get('name')?.touched
      "
      class="invalid-feedback"
    >
      <div *ngIf="productForm.get('name')?.errors?.['required']">
        Name is required.
      </div>
      <div *ngIf="productForm.get('name')?.errors?.['minlength']">
        Name must be at least 3 characters long.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="image">Image URL</label>
    <input
      type="url"
      id="image"
      formControlName="image"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          productForm.get('image')?.invalid && productForm.get('image')?.touched
      }"
    />
    <div
      *ngIf="
        productForm.get('image')?.invalid && productForm.get('image')?.touched
      "
      class="invalid-feedback"
    >
      Image URL is required.
    </div>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input
      type="number"
      id="price"
      formControlName="price"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          productForm.get('price')?.invalid && productForm.get('price')?.touched
      }"
    />
    <div
      *ngIf="
        productForm.get('price')?.invalid && productForm.get('price')?.touched
      "
      class="invalid-feedback"
    >
      <div *ngIf="productForm.get('price')?.errors?.['required']">
        Price is required.
      </div>
      <div *ngIf="productForm.get('price')?.errors?.['min']">
        Price must be non-negative.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="inStock">In Stock</label>
    <input
      type="checkbox"
      id="inStock"
      formControlName="inStock"
      class="form-check-input"
    />
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="productForm.invalid"
  >
    Add Product
  </button>
</form>
