<h2>Product List</h2>
<button class="btn btn-primary mb-3" routerLink="/products/create">
  Add Product
</button>
<input [(ngModel)]="filterText" placeholder="Filter by name" />
<div *ngIf="filterProducts().length > 0; else noProducts">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filterProducts()">
        <!-- LAPTOP -->
        <td>
          <a [routerLink]="['/products', product.id]">{{ product.id }}</a>
        </td>
        <td>
          <a
            [routerLink]="['/products', product.id]"
            [queryParams]="{ search: product.name }"
          >
            {{ product.name }}
          </a>
        </td>
        <!-- <td>{{ product.name | uppercase }}</td> -->
        <td>{{ product.price | currency : "VND" }}</td>
        <td [ngStyle]="{ color: product.inStock ? 'green' : 'red' }">
          {{ product.inStock ? "In Stock" : "Out of Stock" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noProducts>
  <p>No products match the filter.</p>
</ng-template>
