<!-- Interpolation ({{ }}): -->

<h1>{{ title }}</h1>

<!-- Property Binding ([]) -->
<div [ngClass]="{ available: isAvailable }">
  Status: {{ isAvailable ? "Available" : "Unavailable" }}
</div>

<!-- Event Binding (())  -->
<button (click)="handleClick()">Click me</button>

<!-- Two-way Binding ([()]) -->
<div>
  <input [(ngModel)]="productName" type="text" placeholder="Product Name" />
  <p>Product Name: {{ productName }}</p>
</div>

<!-- ngIf -->

<div *ngIf="products.length; else noProducts">
  <!-- ngFor -->
  <ul>
    <li *ngFor="let item of products">
      San pham co ten {{ item.name }} voi Id la {{ item.id }}
    </li>
  </ul>
</div>

<ng-template #noProducts>
  <p>No products available.</p>
</ng-template>
